.dashboard {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fefff3;
}

.dashboard__title {
  width: 100%;
  padding: 0 32px 32px;
  margin: 0 auto;
}

.dashboard__title h1 {
  color: var(--default-color);
  font-size: 1.5rem;
  font-family: var(--text-font);
  font-weight: 600;
  text-transform: uppercase;
}

.dashboard__content {
  width: 100%;
  height: calc(100vh - 210px);
  padding: 0 32px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);

  height: 100%;
}

.card__title {
  width: 100%;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.card__title h1 {
  color: var(--default-color);
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
}

.card__body {
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}

.card__body::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}

.card__body::-webkit-scrollbar-thumb {
  background-color: var(--default-color);
}

.card__item {
  flex-basis: 100%;
  height: 150px;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  display: flex;
  cursor: pointer;
  transition: transform linear 0.2s;
}

.card__item--data {
  border: 1px solid var(--secondary-color);
  border-left: 4.5px solid var(--default-color);
}

.card__item--add {
  border: 1.5px dashed var(--default-color);
  justify-content: center;
  align-items: center;
}

.card__item--class {
  flex-basis: calc(33% - 8px);
  height: 113px;
  margin-left: 16px;
}

.card__item--class:nth-child(3n + 1) {
  margin-left: 0;
}

.card__item--add:hover {
  transform: scale(1.02);
}

.card__button {
  position: absolute;
  bottom: 16px;
  left: 16px;
  background: var(--default-color);
  color: #ffffff;

  display: flex;
  align-items: center;
}

.card__button svg {
  margin-right: 4px;
}

.card__button--add {
  left: 116px;
  background: var(--primary-color);
}

.classes {
  flex: 2.5;
}

.exams {
  flex: 1;
  margin-right: 32px;
}

.data__title {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.data__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.data__image {
  margin-right: 16px;
}

.data__image img {
  max-height: 100%;
  object-fit: contain;
}

.data__info {
  flex: 1;
}

.data__name {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  border-radius: 8px;
  background: var(--default-color);
}

.data__name p {
  font-size: 2.2rem;
  color: #ffffff;
}

.info__item {
  color: #888888;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.info__item span {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: bold;
}

.info {
  grid-area: info;
}

.add-sign {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1.5px dashed var(--default-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
