/* behavior to large screens */
@media screen and (min-width: 1032px) {
  .form {
    width: 35vw;
    height: 55vh;
    margin-top: 15vh;
  }

  .form__inline {
    display: flex;
    margin-top: 16px;
  }

  .form__inline div+div {
    margin-left: 16px;
  }
}

/* behavior to medium screens */
@media screen and (min-width: 381px) and (max-width: 1031px) {
  .form {
    width: 55vw;
    height: 55vh;
    margin-top: 15vh;
  }

  .form__inline {
    display: flex;
    margin-top: 16px;
  }

  .form__inline div+div {
    margin-left: 16px;
  }
}

/* behavior to small screens */
@media screen and (max-width: 380px) {
  .form {
    width: 100%;
    height: 55vh;
    margin-top: 0;
  }

  .form__inline {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  .form__inline div+div {
    margin-top: 16px;
  }

  .content__logo {
    object-fit: contain;
  }
}

.content {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat !important;
  background-size: contain;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__inline div {
  width: 100%;
}

.form__inline div input {
  margin-bottom: 8px;
}

.form form input[type=email] {
  margin: 16px 0 8px;
}

.form form span, .form__inline div span {
  color: var(--danger-color);
  align-self: flex-start;
}

.form form button {
  margin: 32px 0;
  min-width: 100%;
  min-height: 25px;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
}

.content__footer {
  flex: 0.5;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__footer a {
  font-family: var(--text-font);
  font-size: 1.05rem;
  font-weight: 600;
  color: var(--default-color);
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
  transition: all linear 0.3s;
}

.content__footer a:hover {
  filter: brightness(90%);
}
