header {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-blend-mode: multiply;
}

.header {
    width: 100%;
    height: 100%;
    position: relative;
}

.header-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-content-info {
    flex: 0.724;
}

.header-content-info h1 {
    color: #ffffff;
    margin-bottom: 16px;
}

.header-content-info h2 {
    color: #ffffff;
    text-align: justify;
}

.header-footer {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-footer span {
    color: #ffffff;
    font-family: var(--title-font);
    font-size: 1.6rem;
    font-weight: 500;
}

.header-icon {
    margin-top: 16px;
    cursor: pointer;
    animation: move 0.8s infinite alternate;
}

@keyframes move {
    from {
        transform: translateY(-25%);
    }
    to {
        transform: translateY(0%);
    }
}

.btn-homepage {
    min-width: 300px;
    min-height: 40px;
    margin-top: 48px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
}

.btn-homepage:hover {
    background-color: #ffffff;
    border: 2px solid transparent;
    color: var(--default-color);
    filter: brightness(100%);
}

@media (max-width: 1366px) {
    section {
        margin-bottom: 100px;
    }
}

section {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.about-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.about-content img {
    max-height: 60vh;
    object-fit: cover;
}

.about-content .text {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.about-content .text p {
    font-size: 1.1rem;
}

.about-content .text img {
    max-height: 200px;
    object-fit: contain;
    margin-top: 100px;
}

.avantages-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
}

.avantages-content .content-item {
    width: 22vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avantages-content .content-item h5 {
    font-family: var(--text-font);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.6rem;
    color: var(--title-color);
    letter-spacing: 0.5px;
}

.avantages-content .content-item p {
    font-family: var(--text-font);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1rem;
    color: var(--text-color);
    letter-spacing: 0.5px;

    margin-top: auto;
}

.avantages-content .content-item img {
    object-fit: contain;
    max-height: 50%;
    margin-top: 40px;
}

.contact-form {
    width: 100%;
    margin-top: 60px;
    display: flex;
}

.contact-form img {
    max-width: 40vw;
    object-fit: contain;
}

.contact-form form {
    flex: 1;
    margin-right: 32px;
}

.form-line {
    width: 100%;
    display: flex;
    margin-bottom: 24px;
}

.form-line input + input {
    margin-left: 16px;
}

.contact-form button {
    min-width: 150px;
    min-height: 25px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}

.divider {
    max-width: 88%;
    height: 1px;
    margin: 0 auto;
    background-color: #dddddd;
}

.scroll-to-top {
    border-radius: 8px;
    background-color: rgba(216, 167, 48, 0.9);
    padding: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 86vh;
    left: 94vw;
    z-index: 1000;

    cursor: pointer;
    transition: all linear 0.3s;
}
