header {
  width: 100%;
  height: 100vh;
  background-color: #d8a730;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.header {
  position: relative;
}

.header__info h1 {
  color: #ffffff;
  margin-bottom: 16px;
}

.header__info h2 {
  color: #ffffff;
}

.header__icon {
  margin-top: 16px;
  cursor: pointer;
  animation: move 0.8s infinite alternate;
}

@keyframes move {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(0%);
  }
}

section {
  width: 100%;
  min-height: 100vh;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.about__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.avantages__item h5 {
  font-family: var(--text-font);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.6rem;
  color: var(--title-color);
  letter-spacing: 0.5px;
}

.avantages__item p {
  font-family: var(--text-font);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1rem;
  color: var(--text-color);
  letter-spacing: 0.5px;
  margin-top: auto;
}

.form form {
  flex: 1;
  width: 100%;
  margin-right: 32px;
}

.form__textarea span, .form__input span {
  color: var(--danger-color);
  align-self: flex-start;
}

.form__input {
  width: 100%;
}

.form__input input {
  margin-bottom: 8px;
}

.form__textarea {
  width: 100%;
}

.form__textarea textarea {
  margin-bottom: 8px;
}

.form button {
  min-width: 150px;
  min-height: 25px;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 32px;
}

/* -------------------------------------------------------------------------- */

.divider {
  max-width: 88%;
  height: 1px;
  margin: 0 auto;
  background-color: #dddddd;
}

/* behavior to large screens */
@media screen and (min-width: 1032px) {
  .header__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__image {
    flex: 1;
    height: 70%;
    margin-right: 32px;
  }

  .header__image img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .header__info {
    flex: 1.3;
  }

  .header__footer {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__footer span {
    color: #ffffff;
    font-family: var(--title-font);
    font-size: 1.6rem;
    font-weight: 500;
  }

  section {
    padding-top: 100px;
  }

  .about__image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 64px;
  }

  .about__image img {
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
  }

  .about__text img {
    max-height: 200px;
    object-fit: contain;
    margin-top: 100px;
  }

  .avantages {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
  }

  .avantages__item {
    width: 22vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .avantages__item img {
    object-fit: contain;
    max-height: 50%;
    margin-top: 40px;
  }

  .form {
    width: 100%;
    margin-top: 60px;
    display: flex;
  }

  .form img {
    max-width: 40vw;
    object-fit: contain;
  }

  .form__line {
    width: 100%;
    display: flex;
    margin-bottom: 24px;
  }

  .form__input + .form__input {
    margin-left: 16px;
  }

  .scroll-to-top {
    border-radius: 8px;
    background-color: #dc7037;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 86vh;
    left: 94vw;
    z-index: 1000;
    cursor: pointer;
    transition: all linear 0.3s;
  }
}

/* behavior to medium screens */
@media screen and (min-width: 381px) and (max-width: 1031px) {
  .header__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__image {
    display: none;
  }

  .header__info {
    flex: 1;
  }

  .header__footer {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__footer span {
    color: #ffffff;
    font-family: var(--title-font);
    font-size: 1.6rem;
    font-weight: 500;
  }

  section {
    padding-top: 100px;
  }

  .about__image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 64px;
  }

  .about__image img {
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
  }

  .about__text img {
    max-height: 200px;
    object-fit: contain;
    margin-top: 100px;
  }

  .avantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;
  }

  .avantages__item {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 8vh;
  }

  .avantages__item img {
    object-fit: contain;
    max-height: 40%;
    margin-top: 40px;
  }

  .form {
    width: 100%;
    margin-top: 30px;
  }

  .form img {
    display: none;
  }

  .form__line {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .form__input + .form__input {
    margin-top: 16px;
  }

  .scroll-to-top {
    border-radius: 8px;
    background-color: #dc7037;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 86vh;
    left: 90vw;
    z-index: 1000;
    cursor: pointer;
    transition: all linear 0.3s;
  }
}

/* behavior to small screens */
@media screen and (max-width: 380px) {
  .header__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header__info {
    flex: 1;
  }

  .header__footer {
    width: 100%;
    height: 190px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__footer span {
    color: #ffffff;
    font-family: var(--title-font);
    font-size: 1.4rem;
    font-weight: 500;
  }

  section {
    padding-top: 50px;
  }

  .about__image {
    display: none;
  }

  .about__text p {
    font-size: 0.9rem;
  }

  .about__text img {
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
    margin-top: 70px;
  }

  .avantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;
  }

  .avantages__item {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 8vh;
  }

  .avantages__item img {
    object-fit: contain;
    max-height: 40%;
    margin-top: 40px;
  }

  .form {
    width: 100%;
    margin-top: 30px;
  }

  .form img {
    display: none;
  }

  .form__line {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .form__input + .form__input {
    margin-top: 16px;
  }

  .scroll-to-top {
    border-radius: 8px;
    background-color: #dc7037;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 86vh;
    left: 80vw;
    z-index: 1000;
    cursor: pointer;
    transition: all linear 0.3s;
  }
}
