.not-found {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__link {
  text-decoration: none;
  color: var(--default-color);
  font-size: 1.2rem;
  margin-bottom: 32px;
}

.not-found__link div {
  display: flex;
  align-items: center;
}

.not-found__image {
  max-width: 500px;
  object-fit: contain;
}

.not-found__text {
  margin-top: 32px;
  color: var(--primary-color);
}